interactions:
- request:
    body: amount=500&currency=EUR&description=Fake&metadata[reference]=Fake&payment_method=pm_card_visa&confirmation_method=manual&confirm=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 14a042b5-9158-49a2-9bb9-ee28e3fb074c
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body:
      string: "{\n  \"id\": \"pi_3K9rmn2eZvKYlo2C0oul6Nl1\",\n  \"object\": \"payment_intent\"\
        ,\n  \"amount\": 500,\n  \"amount_capturable\": 0,\n  \"amount_received\"\
        : 500,\n  \"application\": null,\n  \"application_fee_amount\": null,\n  \"\
        automatic_payment_methods\": null,\n  \"canceled_at\": null,\n  \"cancellation_reason\"\
        : null,\n  \"capture_method\": \"automatic\",\n  \"charges\": {\n    \"object\"\
        : \"list\",\n    \"data\": [\n      {\n        \"id\": \"ch_3K9rmn2eZvKYlo2C0CTWthID\"\
        ,\n        \"object\": \"charge\",\n        \"amount\": 500,\n        \"amount_captured\"\
        : 500,\n        \"amount_refunded\": 0,\n        \"application\": null,\n\
        \        \"application_fee\": null,\n        \"application_fee_amount\": null,\n\
        \        \"balance_transaction\": \"txn_3K9rmn2eZvKYlo2C0gZfwa3D\",\n    \
        \    \"billing_details\": {\n          \"address\": {\n            \"city\"\
        : null,\n            \"country\": null,\n            \"line1\": null,\n  \
        \          \"line2\": null,\n            \"postal_code\": null,\n        \
        \    \"state\": null\n          },\n          \"email\": null,\n         \
        \ \"name\": null,\n          \"phone\": null\n        },\n        \"calculated_statement_descriptor\"\
        : \"Stripe\",\n        \"captured\": true,\n        \"created\": 1640267810,\n\
        \        \"currency\": \"eur\",\n        \"customer\": null,\n        \"description\"\
        : \"Fake\",\n        \"destination\": null,\n        \"dispute\": null,\n\
        \        \"disputed\": false,\n        \"failure_code\": null,\n        \"\
        failure_message\": null,\n        \"fraud_details\": {\n        },\n     \
        \   \"invoice\": null,\n        \"livemode\": false,\n        \"metadata\"\
        : {\n          \"reference\": \"Fake\"\n        },\n        \"on_behalf_of\"\
        : null,\n        \"order\": null,\n        \"outcome\": {\n          \"network_status\"\
        : \"approved_by_network\",\n          \"reason\": null,\n          \"risk_level\"\
        : \"normal\",\n          \"risk_score\": 55,\n          \"seller_message\"\
        : \"Payment complete.\",\n          \"type\": \"authorized\"\n        },\n\
        \        \"paid\": true,\n        \"payment_intent\": \"pi_3K9rmn2eZvKYlo2C0oul6Nl1\"\
        ,\n        \"payment_method\": \"pm_1K9rmn2eZvKYlo2C4pwwjcLt\",\n        \"\
        payment_method_details\": {\n          \"card\": {\n            \"brand\"\
        : \"visa\",\n            \"checks\": {\n              \"address_line1_check\"\
        : null,\n              \"address_postal_code_check\": null,\n            \
        \  \"cvc_check\": null\n            },\n            \"country\": \"US\",\n\
        \            \"exp_month\": 12,\n            \"exp_year\": 2022,\n       \
        \     \"fingerprint\": \"Xt5EWLLDS7FJjR1c\",\n            \"funding\": \"\
        credit\",\n            \"installments\": null,\n            \"last4\": \"\
        4242\",\n            \"network\": \"visa\",\n            \"three_d_secure\"\
        : null,\n            \"wallet\": null\n          },\n          \"type\": \"\
        card\"\n        },\n        \"receipt_email\": null,\n        \"receipt_number\"\
        : null,\n        \"receipt_url\": \"https://pay.stripe.com/receipts/acct_1032D82eZvKYlo2C/ch_3K9rmn2eZvKYlo2C0CTWthID/rcpt_KpWqhWuCOIvlG7TbkWVzQkMOY3o6aI9\"\
        ,\n        \"refunded\": false,\n        \"refunds\": {\n          \"object\"\
        : \"list\",\n          \"data\": [\n\n          ],\n          \"has_more\"\
        : false,\n          \"total_count\": 0,\n          \"url\": \"/v1/charges/ch_3K9rmn2eZvKYlo2C0CTWthID/refunds\"\
        \n        },\n        \"review\": null,\n        \"shipping\": null,\n   \
        \     \"source\": null,\n        \"source_transfer\": null,\n        \"statement_descriptor\"\
        : null,\n        \"statement_descriptor_suffix\": null,\n        \"status\"\
        : \"succeeded\",\n        \"transfer_data\": null,\n        \"transfer_group\"\
        : null\n      }\n    ],\n    \"has_more\": false,\n    \"total_count\": 1,\n\
        \    \"url\": \"/v1/charges?payment_intent=pi_3K9rmn2eZvKYlo2C0oul6Nl1\"\n\
        \  },\n  \"client_secret\": \"pi_3K9rmn2eZvKYlo2C0oul6Nl1_secret_HivVpSZJZaSu85zkqze7cVqXv\"\
        ,\n  \"confirmation_method\": \"manual\",\n  \"created\": 1640267809,\n  \"\
        currency\": \"eur\",\n  \"customer\": null,\n  \"description\": \"Fake\",\n\
        \  \"invoice\": null,\n  \"last_payment_error\": null,\n  \"livemode\": false,\n\
        \  \"metadata\": {\n    \"reference\": \"Fake\"\n  },\n  \"next_action\":\
        \ null,\n  \"on_behalf_of\": null,\n  \"payment_method\": \"pm_1K9rmn2eZvKYlo2C4pwwjcLt\"\
        ,\n  \"payment_method_options\": {\n    \"card\": {\n      \"installments\"\
        : null,\n      \"network\": null,\n      \"request_three_d_secure\": \"automatic\"\
        \n    }\n  },\n  \"payment_method_types\": [\n    \"card\"\n  ],\n  \"processing\"\
        : null,\n  \"receipt_email\": null,\n  \"review\": null,\n  \"setup_future_usage\"\
        : null,\n  \"shipping\": null,\n  \"source\": null,\n  \"statement_descriptor\"\
        : null,\n  \"statement_descriptor_suffix\": null,\n  \"status\": \"succeeded\"\
        ,\n  \"transfer_data\": null,\n  \"transfer_group\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 14a042b5-9158-49a2-9bb9-ee28e3fb074c
      original-request:
      - req_TOXmQXCXmazEAv
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-02-19'
    status:
      code: 200
      message: OK
version: 1
