interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.sandbox.paypal.com/v1/oauth2/token?grant_type=client_credentials
  response:
    body: {string: '{"scope":"https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/disputes/read-buyer
        https://uri.paypal.com/services/payments/realtimepayment https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/payment/authcapture openid https://uri.paypal.com/services/disputes/read-seller
        https://uri.paypal.com/services/payments/refund https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/subscriptions
        https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAGG6R6nm6nbDDyOjQeRa_tIzFdvBNCn4CjF8JylETD9K-uLbbPDduv61Z0F42wsUWih9a220qimo7tkvGtBV0xbdMy6pg","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32400,"nonce":"2019-09-13T14:19:15ZrkbdtWJNYgN0ML4Alg3msJG9iIWdIfJlsOr7Thonc-Y"}'}
    headers:
      Content-Type: [application/json]
      HTTP_X_PP_AZ_LOCATOR: [sandbox.slc]
      Paypal-Debug-Id: [b42869f25d00a, b42869f25d00a]
      X-PAYPAL-TOKEN-SERVICE: [IAAS]
      paypal-debug-id: [b42869f25d00a, b42869f25d00a]
    status: {code: 200, message: OK}
- request:
    body: '{"purchase_units": [{"amount": {"currency_code": "EUR", "value": 5.0}}],
      "application_context": {"return_url": "https://shopinvader.com/invader/payment_paypal/normal_return?success_redirect=/cart/validation&cancel_redirect=/cart/checkout?canceled_payment=paypal",
      "landing_page": "LOGIN", "cancel_url": "https://shopinvader.com/cart/checkout",
      "user_action": "PAY_NOW"}, "intent": "CAPTURE"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.paypal.com/v2/checkout/orders
  response:
    body: {string: '{"id":"9HW16169D2517640S","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/9HW16169D2517640S","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/checkoutnow?token=9HW16169D2517640S","rel":"approve","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/9HW16169D2517640S","rel":"update","method":"PATCH"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/9HW16169D2517640S/capture","rel":"capture","method":"POST"}],"status":"CREATED"}'}
    headers:
      Content-Type: [application/json]
      HTTP_X_PP_AZ_LOCATOR: [sandbox.slc]
      Paypal-Debug-Id: [3b28dc0d8c087, 3b28dc0d8c087]
      paypal-debug-id: [3b28dc0d8c087, 3b28dc0d8c087]
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/9HW16169D2517640S/capture
  response:
    body: {string: '{"id":"9HW16169D2517640S","purchase_units":[{"reference_id":"default","shipping":{"name":{"full_name":"test
        buyer"},"address":{"address_line_1":"Av. de la Pelouse, 87648672 Mayet","admin_area_2":"Paris","admin_area_1":"Alsace","postal_code":"75002","country_code":"FR"}},"payments":{"captures":[{"id":"0B074153EK766461Y","status":"COMPLETED","amount":{"currency_code":"EUR","value":"5.00"},"final_capture":true,"seller_protection":{"status":"ELIGIBLE","dispute_categories":["ITEM_NOT_RECEIVED","UNAUTHORIZED_TRANSACTION"]},"seller_receivable_breakdown":{"gross_amount":{"currency_code":"EUR","value":"5.00"},"paypal_fee":{"currency_code":"EUR","value":"0.42"},"net_amount":{"currency_code":"EUR","value":"4.58"}},"links":[{"href":"https://api.sandbox.paypal.com/v2/payments/captures/0B074153EK766461Y","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/payments/captures/0B074153EK766461Y/refund","rel":"refund","method":"POST"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/9HW16169D2517640S","rel":"up","method":"GET"}],"create_time":"2019-09-13T14:19:55Z","update_time":"2019-09-13T14:19:55Z"}]}}],"payer":{"name":{"given_name":"test","surname":"buyer"},"email_address":"paypal-buyer@laboandco.com","payer_id":"NEKEA4FWFYNSG","address":{"country_code":"FR"}},"links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/9HW16169D2517640S","rel":"self","method":"GET"}],"status":"COMPLETED"}'}
    headers:
      Content-Type: [application/json]
      HTTP_X_PP_AZ_LOCATOR: [sandbox.slc]
      Paypal-Debug-Id: [9a6116a08379b, 9a6116a08379b]
      paypal-debug-id: [9a6116a08379b, 9a6116a08379b]
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"intent": "CAPTURE", "application_context": {"cancel_url": "https://shopinvader.com/cart/checkout",
      "user_action": "PAY_NOW", "landing_page": "LOGIN", "return_url": "https://shopinvader.com/invader/payment_paypal/normal_return?success_redirect=/cart/validation&cancel_redirect=/cart/checkout?canceled_payment=paypal"},
      "purchase_units": [{"amount": {"value": 5.0, "currency_code": "EUR"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.paypal.com/v2/checkout/orders
  response:
    body: {string: '{"id":"87H72342P9320710C","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/87H72342P9320710C","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/checkoutnow?token=87H72342P9320710C","rel":"approve","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/87H72342P9320710C","rel":"update","method":"PATCH"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/87H72342P9320710C/capture","rel":"capture","method":"POST"}],"status":"CREATED"}'}
    headers:
      Content-Type: [application/json]
      HTTP_X_PP_AZ_LOCATOR: [sandbox.slc]
      Paypal-Debug-Id: [e554fd4eeaa2a, e554fd4eeaa2a]
      paypal-debug-id: [e554fd4eeaa2a, e554fd4eeaa2a]
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/87H72342P9320710C/capture
  response:
    body: {string: '{"id":"87H72342P9320710C","purchase_units":[{"reference_id":"default","shipping":{"name":{"full_name":"test
        buyer"},"address":{"address_line_1":"Av. de la Pelouse, 87648672 Mayet","admin_area_2":"Paris","admin_area_1":"Alsace","postal_code":"75002","country_code":"FR"}},"payments[...]
