interactions:
- request:
    body: amount=500&description=Fake&confirm=True&confirmation_method=manual&payment_method=pm_card_visa&currency=EUR&metadata[reference]=Fake
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [30b4a586-126e-4a88-bc68-08084b84d6ca]
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body: {string: "{\n  \"id\": \"pi_1FEjb42eZvKYlo2CUfBHW6sV\",\n  \"object\": \"\
        payment_intent\",\n  \"amount\": 500,\n  \"amount_capturable\": 0,\n  \"amount_received\"\
        : 500,\n  \"application\": null,\n  \"application_fee_amount\": null,\n  \"\
        canceled_at\": null,\n  \"cancellation_reason\": null,\n  \"capture_method\"\
        : \"automatic\",\n  \"charges\": {\n    \"object\": \"list\",\n    \"data\"\
        : [\n      {\n        \"id\": \"ch_1FEjb52eZvKYlo2CPirReZ8y\",\n        \"\
        object\": \"charge\",\n        \"amount\": 500,\n        \"amount_refunded\"\
        : 0,\n        \"application\": null,\n        \"application_fee\": null,\n\
        \        \"application_fee_amount\": null,\n        \"balance_transaction\"\
        : \"txn_1FEjb52eZvKYlo2Crpw0YLjS\",\n        \"billing_details\": {\n    \
        \      \"address\": {\n            \"city\": null,\n            \"country\"\
        : null,\n            \"line1\": null,\n            \"line2\": null,\n    \
        \        \"postal_code\": null,\n            \"state\": null\n          },\n\
        \          \"email\": null,\n          \"name\": null,\n          \"phone\"\
        : null\n        },\n        \"captured\": true,\n        \"created\": 1567546291,\n\
        \        \"currency\": \"eur\",\n        \"customer\": null,\n        \"description\"\
        : \"Fake\",\n        \"destination\": null,\n        \"dispute\": null,\n\
        \        \"failure_code\": null,\n        \"failure_message\": null,\n   \
        \     \"fraud_details\": {\n        },\n        \"invoice\": null,\n     \
        \   \"livemode\": false,\n        \"metadata\": {\n          \"reference\"\
        : \"Fake\"\n        },\n        \"on_behalf_of\": null,\n        \"order\"\
        : null,\n        \"outcome\": {\n          \"network_status\": \"approved_by_network\"\
        ,\n          \"reason\": null,\n          \"risk_level\": \"normal\",\n  \
        \        \"risk_score\": 59,\n          \"seller_message\": \"Payment complete.\"\
        ,\n          \"type\": \"authorized\"\n        },\n        \"paid\": true,\n\
        \        \"payment_intent\": \"pi_1FEjb42eZvKYlo2CUfBHW6sV\",\n        \"\
        payment_method\": \"pm_1FEjb42eZvKYlo2CiAld2TrD\",\n        \"payment_method_details\"\
        : {\n          \"card\": {\n            \"brand\": \"visa\",\n           \
        \ \"checks\": {\n              \"address_line1_check\": null,\n          \
        \    \"address_postal_code_check\": null,\n              \"cvc_check\": null\n\
        \            },\n            \"country\": \"US\",\n            \"exp_month\"\
        : 9,\n            \"exp_year\": 2020,\n            \"fingerprint\": \"Xt5EWLLDS7FJjR1c\"\
        ,\n            \"funding\": \"credit\",\n            \"last4\": \"4242\",\n\
        \            \"three_d_secure\": null,\n            \"wallet\": null\n   \
        \       },\n          \"type\": \"card\"\n        },\n        \"receipt_email\"\
        : null,\n        \"receipt_number\": null,\n        \"receipt_url\": \"https://pay.stripe.com/receipts/acct_1032D82eZvKYlo2C/ch_1FEjb52eZvKYlo2CPirReZ8y/rcpt_FkE3DqNiNg8Kgvr1StO9yR7LblYj2MF\"\
        ,\n        \"refunded\": false,\n        \"refunds\": {\n          \"object\"\
        : \"list\",\n          \"data\": [\n\n          ],\n          \"has_more\"\
        : false,\n          \"total_count\": 0,\n          \"url\": \"/v1/charges/ch_1FEjb52eZvKYlo2CPirReZ8y/refunds\"\
        \n        },\n        \"review\": null,\n        \"shipping\": null,\n   \
        \     \"source\": null,\n        \"source_transfer\": null,\n        \"statement_descriptor\"\
        : null,\n        \"statement_descriptor_suffix\": null,\n        \"status\"\
        : \"succeeded\",\n        \"transfer_data\": null,\n        \"transfer_group\"\
        : null\n      }\n    ],\n    \"has_more\": false,\n    \"total_count\": 1,\n\
        \    \"url\": \"/v1/charges?payment_intent=pi_1FEjb42eZvKYlo2CUfBHW6sV\"\n\
        \  },\n  \"client_secret\": \"pi_1FEjb42eZvKYlo2CUfBHW6sV_secret_mwOeCIUTzydaw8qNdQcRU6hq2\"\
        ,\n  \"confirmation_method\": \"manual\",\n  \"created\": 1567546290,\n  \"\
        currency\": \"eur\",\n  \"customer\": null,\n  \"description\": \"Fake\",\n\
        \  \"invoice\": null,\n  \"last_payment_error\": null,\n  \"livemode\": false,\n\
        \  \"metadata\": {\n    \"reference\": \"Fake\"\n  },\n  \"next_action\":\
        \ null,\n  \"on_behalf_of\": null,\n  \"payment_method\": \"pm_1FEjb42eZvKYlo2CiAld2TrD\"\
        ,\n  \"payment_method_options\": {\n    \"card\": {\n      \"request_three_d_secure\"\
        : \"automatic\"\n    }\n  },\n  \"payment_method_types\": [\n    \"card\"\n\
        \  ],\n  \"receipt_email\": null,\n  \"review\": null,\n  \"setup_future_usage\"\
        : null,\n  \"shipping\": null,\n  \"source\": null,\n  \"statement_descriptor\"\
        : null,\n  \"statement_descriptor_suffix\": null,\n  \"status\": \"succeeded\"\
        ,\n  \"transfer_data\": null,\n  \"transfer_group\": null\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [30b4a586-126e-4a88-bc68-08084b84d6ca]
      original-request: [req_nuX0fxLIoSRITp]
      stripe-version: ['2019-02-19']
    status: {code: 200, message: OK}
version: 1
