interactions:
- request:
    body: amount=500&currency=EUR&description=Fake&metadata[reference]=Fake&automatic_payment_methods[enabled]=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a1f9c604-0e17-4f05-98d5-4947d80c04e4
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body:
      string: "{\n  \"id\": \"pi_3K9rmv2eZvKYlo2C1RPRWdwQ\",\n  \"object\": \"payment_intent\"\
        ,\n  \"amount\": 500,\n  \"amount_capturable\": 0,\n  \"amount_received\"\
        : 0,\n  \"application\": null,\n  \"application_fee_amount\": null,\n  \"\
        automatic_payment_methods\": {\n    \"enabled\": true\n  },\n  \"canceled_at\"\
        : null,\n  \"cancellation_reason\": null,\n  \"capture_method\": \"automatic\"\
        ,\n  \"charges\": {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n\
        \    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/charges?payment_intent=pi_3K9rmv2eZvKYlo2C1RPRWdwQ\"\
        \n  },\n  \"client_secret\": \"pi_3K9rmv2eZvKYlo2C1RPRWdwQ_secret_ISpNqjEjRe1yYomOcnrJgSTOR\"\
        ,\n  \"confirmation_method\": \"automatic\",\n  \"created\": 1640267817,\n\
        \  \"currency\": \"eur\",\n  \"customer\": null,\n  \"description\": \"Fake\"\
        ,\n  \"invoice\": null,\n  \"last_payment_error\": null,\n  \"livemode\":\
        \ false,\n  \"metadata\": {\n    \"reference\": \"Fake\"\n  },\n  \"next_action\"\
        : null,\n  \"on_behalf_of\": null,\n  \"payment_method\": null,\n  \"payment_method_options\"\
        : {\n    \"card\": {\n      \"installments\": null,\n      \"network\": null,\n\
        \      \"request_three_d_secure\": \"automatic\"\n    }\n  },\n  \"payment_method_types\"\
        : [\n    \"card\"\n  ],\n  \"processing\": null,\n  \"receipt_email\": null,\n\
        \  \"review\": null,\n  \"setup_future_usage\": null,\n  \"shipping\": null,\n\
        \  \"source\": null,\n  \"statement_descriptor\": null,\n  \"statement_descriptor_suffix\"\
        : null,\n  \"status\": \"requires_payment_method\",\n  \"transfer_data\":\
        \ null,\n  \"transfer_group\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - a1f9c604-0e17-4f05-98d5-4947d80c04e4
      original-request:
      - req_bHEB8qyWLqjHtS
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-02-19'
    status:
      code: 200
      message: OK
version: 1
