interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.sandbox.paypal.com/v1/oauth2/token?grant_type=client_credentials
  response:
    body: {string: '{"scope":"https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/disputes/read-buyer
        https://uri.paypal.com/services/payments/realtimepayment https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/payment/authcapture openid https://uri.paypal.com/services/disputes/read-seller
        https://uri.paypal.com/services/payments/refund https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/subscriptions
        https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAHA4OJynIXAPN25gAjThByDSOR3ijdjUDe6V8QxwY0Hqt22kehan8jlDCCaB9YmvD0ZwhSN-XdNh_uGbuOB8xZV11ZcTw","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32400,"nonce":"2019-09-13T15:11:16Zyijl9ZgB53daoSwx0j61hpWBxa5XMHATuepmglccwpI"}'}
    headers:
      Content-Type: [application/json]
      HTTP_X_PP_AZ_LOCATOR: [sandbox.slc]
      Paypal-Debug-Id: [ec06b74b61956, ec06b74b61956]
      X-PAYPAL-TOKEN-SERVICE: [IAAS]
      paypal-debug-id: [ec06b74b61956, ec06b74b61956]
    status: {code: 200, message: OK}
- request:
    body: '{"application_context": {"cancel_url": "https://shopinvader.com/cart/checkout",
      "return_url": "https://shopinvader.com/invader/payment_paypal/normal_return?success_redirect=/cart/validation&cancel_redirect=/cart/checkout?canceled_payment=paypal",
      "user_action": "PAY_NOW", "landing_page": "LOGIN"}, "intent": "CAPTURE", "purchase_units":
      [{"amount": {"value": 5.0, "currency_code": "EUR"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.paypal.com/v2/checkout/orders
  response:
    body: {string: '{"id":"0NC158772H266512D","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/0NC158772H266512D","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/checkoutnow?token=0NC158772H266512D","rel":"approve","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/0NC158772H266512D","rel":"update","method":"PATCH"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/0NC158772H266512D/capture","rel":"capture","method":"POST"}],"status":"CREATED"}'}
    headers:
      Content-Type: [application/json]
      HTTP_X_PP_AZ_LOCATOR: [sandbox.slc]
      Paypal-Debug-Id: [ee8953fd95bac, ee8953fd95bac]
      paypal-debug-id: [ee8953fd95bac, ee8953fd95bac]
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/0NC158772H266512D/capture
  response:
    body: {string: '{"name":"UNPROCESSABLE_ENTITY","details":[{"issue":"ORDER_NOT_APPROVED","description":"Payer
        has not yet approved the Order for payment. Please redirect the payer to the
        ''rel'':''approve'' url returned as part of the HATEOAS links within the Create
        Order call or provide a valid payment_source in the request."}],"message":"The
        requested action could not be performed, semantically incorrect, or failed
        business validation.","debug_id":"552f631c207bf","links":[{"href":"https://developer.paypal.com/docs/api/orders/v2/#error-ORDER_NOT_APPROVED","rel":"information_link","method":"GET"}]}'}
    headers:
      Content-Type: [application/json]
      HTTP_X_PP_AZ_LOCATOR: [sandbox.slc]
      Paypal-Debug-Id: [552f631c207bf, 552f631c207bf]
      paypal-debug-id: [552f631c207bf, 552f631c207bf]
    status: {code: 422, message: Unprocessable Entity}
version: 1
