interactions:
- request:
    body: '{"reference_id": "14", "description": "S00021-1", "amount": {"value": 855500,
      "currency": "BRL"}, "payment_method": {"type": "CREDIT_CARD", "installments":
      1, "capture": false, "card": {"encrypted": "VaseeE7rr"}}}'
    headers:
      Content-Type: [application/json]
      x-api-version: ['4.0']
    method: POST
    uri: https://sandbox.api.pagseguro.com/charges
  response:
    body: {string: '{"error_messages":[{"code":"40002","message":"Encrypted card already
        used","description":"invalid_parameter","parameter_name":"payment_method.card.encrypted"}]}'}
    headers:
      Content-Type: [application/json]
      x-amz-apigw-id: [JxWQQHK5oAMF26A=]
      x-amzn-Remapped-Connection: [keep-alive]
      x-amzn-Remapped-Content-Length: ['160']
      x-amzn-Remapped-Date: ['Wed, 16 Aug 2023 20:53:08 GMT']
      x-amzn-RequestId: [9415e929-4539-456b-bbc4-1a1861f20465]
    status: {code: 400, message: Bad Request}
version: 1
